<div class="container">
  <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Follower</th>
        <th>Action</th>
    </thead>
    <tbody>
        <% relationships.each do |relationship| %>
          <tr>
            <td> <%= image_tag relationship.user.avatar(:thumb) %> <%= link_to "#{relationship.user.username}",  user_path(relationship.user) %> </td>
            <td>
              <% if params[:user_id] == current_user.id.to_s %>
                <button type="button" class="btn btn-default btn-sm"><%= link_to "Unfollow", user_relationship_path(user_id: params[:user_id], id: relationship.id), method: :delete %></button>
              <% elsif relationship.user.id.to_s == current_user.id.to_s %>
                <button type="button" class="btn btn-default btn-sm"><%= link_to "Unfollow", user_relationship_path(user_id: params[:user_id], id: relationship.id), method: :delete %></button>
              <% else %>
                <%= link_to "Follow", user_relationships_path(user_id: params[:user_id], relationship: {user_id: current_user, following_id: relationship.user} ), method: :post %>
              <% end %>
            </td>
          </tr>
      <% end %>
    </tbody>
  </table>
</div>
