<%= render 'users/user_profile_header', user: User.find(params[:user_id]) %>

<div class="container">
  <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Following</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
        <% @relationships.each do |relationship| %>
          <tr>

            <td>
              <%= image_tag User.find(relationship.following_id).avatar(:thumb) %>
              <%= link_to "#{User.find(relationship.following_id).username}",  user_path(relationship.following_id) %>
            </td>

            <td>
              <% if Relationship.find_by(following_id: relationship.following_id, user: current_user) %>

                <%= link_to "Unfollow", user_relationship_path(
                  user_id: params[:user_id], id: Relationship.find_by(
                    following_id: relationship.following_id, user: current_user
                  )), method: :delete %>

              <% elsif relationship.following_id == current_user.id %>

              <% else %>
                <%= link_to "Follow", user_relationships_path(
                  user_id: params[:user_id], relationship: {
                    user_id: current_user, following_id: relationship.following_id
                    }
                  ), method: :post %>
              <% end %>
            </td>

          </tr>
      <% end %>
    </tbody>
  </table>
</div>

