<div class="container">
  <h1>my account</h1>

  <h3>Details</h3>
  <table>
    <tr>
      <td><p>Username</p></td>
      <td><p><%= @user.username %></p></td>
    </tr>
    <tr>
      <td><p>First Name</p></td>
      <td><p><%= @user.first_name %></p></td>
    </tr>
    <tr>
      <td><p>Last Name</p></td>
      <td><p><%= @user.last_name %></p></td>
    </tr>
    <tr>
      <td><p>Email</p></td>
      <td><p><%= @user.email %></p></td>
    </tr>
    <tr>
      <td><p>Date Of Birth</p></td>
      <td><p><%= @user.date_of_birth %></p></td>
    </tr>
    <tr>
      <td><p>Avatar</p></td>
      <td><p><%=image_tag @user.avatar.url(:thumb) %></p></td>
    </tr>
    <tr>
      <td><p>Profile Header Image</p></td>
      <td><p><%= image_tag @user.header_image.url(:thumb) %></p></td>
    </tr>
  </table>
  <%= link_to "Edit Details", edit_user_path(current_user) %>

  <br>

  <h3>Address</h3>
  <%= link_to "Create Address", new_user_address_path %>
  <%= render 'addresses/address_list', user: @user %>

  <br>

  <h3>Shipping Method</h3>
  <%= link_to "Create Shipping Method", new_user_shipping_method_path %>
  <%= render 'shipping_methods/shipping_methods_list', user: @user %>
</div>
