<%= javascript_include_tag :all  %>
<div class="container">
  <div class="page-header">
    <h1><%= current_user.username %> <small>Add Product To Outfit</small></h1>
  </div>
  <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Image</th>
        <th>Title</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><div class ="small_fifty_image"><%= image_tag product.product_images[0].product_image.url(:thumb) %></div></td>
          <td><h4><%= link_to product.title, product_url(product.id) %></h4></td>
          <td>$<%=product.price %></td>
          <td>
            <button type="button" class="btn btn-default btn-sm">
              <%= link_to "Add Product", user_outfit_outfit_products_path(
                product.user_id,
                outfit_id: params[:outfit_id],
                product_id: product.id,
                user_id: params[:user_id]
                ),
                method: :post
              %>
            </button>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
