<%= javascript_include_tag :all  %>
<div class="container">
  <div class="page-header">
    <h2>Approve Products For Outfits</h2>
  </div>
  <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Product</th>
        <th>Outfit</th>
        <th>Approved</th>
      </tr>
    </thead>
    <tbody>
      <% @outfit_products.where(approved: false).each do |outfit_product| %>
        <tr>
          <td>
            <%= image_tag Product.find(outfit_product.product_id).product_images[0].product_image.url(:thumb) %>
            <%= Product.find(outfit_product.product_id).title %>
          </td>
          <td>
            <%= image_tag Outfit.find(outfit_product.outfit_id).outfit_image.url(:thumb) %>
            <%= Outfit.find(outfit_product.outfit_id).caption %>
          </td>
          <td>
            <button type="button" class="btn btn-default btn-sm"><%= link_to "Approve", user_approve_outfit_products_path(id: outfit_product.id) %></button>
            <button type="button" class="btn btn-default btn-sm"><%= link_to "Delete", user_outfit_products_path(id: outfit_product.id), method: :delete, data: { confirm: "You sure?" } %></button>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="page-header">
    <h2>Decline Or Delete Products For Outfits</h2>
  </div>
  <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Product</th>
        <th>Outfit</th>
        <th>Approved</th>
      </tr>
    </thead>
    <tbody>
      <% @outfit_products.where(approved: true).each do |outfit_product| %>
        <tr>
          <td>
            <%= image_tag Product.find(outfit_product.product_id).product_images[0].product_image.url(:thumb) %>
            <%= Product.find(outfit_product.product_id).title %>
          </td>
          <td>
            <%= image_tag Outfit.find(outfit_product.outfit_id).outfit_image.url(:thumb) %>
            <%= Outfit.find(outfit_product.outfit_id).caption %>
          </td>
          <td>
            <button type="button" class="btn btn-default btn-sm"><%= link_to "Decline", user_decline_outfit_products_path(id: outfit_product.id) %></button>
            <button type="button" class="btn btn-default btn-sm"><%= link_to "Delete", user_outfit_products_path(id: outfit_product.id), method: :delete, data: { confirm: "You sure?" } %></button>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>


  <div class="page-header">
    <h2>Outift Products Awaiting Approval</h2>
  </div>
  <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Product</th>
        <th>Outfit</th>
        <th>Approved</th>
      </tr>
    </thead>
    <tbody>
      <% @outfit_products.where(approved: false).each do |outfit_product| %>
        <tr>
          <td>
            <%= image_tag Product.find(outfit_product.product_id).product_images[0].product_image.url(:thumb) %>
            <%= Product.find(outfit_product.product_id).title %>
          </td>
          <td>
            <%= image_tag Outfit.find(outfit_product.outfit_id).outfit_image.url(:thumb) %>
            <%= Outfit.find(outfit_product.outfit_id).caption %>
          </td>
          <td>
            <button type="button" class="btn btn-default btn-sm"><%= link_to "Decline", user_decline_outfit_products_path(id: outfit_product.id) %></button>
            <button type="button" class="btn btn-default btn-sm"><%= link_to "Delete", user_outfit_products_path(id: outfit_product.id), method: :delete, data: { confirm: "You sure?" } %></button>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
