<h1>Confirm Order</h1>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Shipping</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= image_tag Product.find(@order.product_id).product_images[0].product_image.url(:thumb) %><%= Product.find(@order.product_id).title %><%= @order.product.title %></td>
        <td><%= @order.quantity %></td>
        <td>$<%= @order.product.price %></td>
        <td><%= @order.shipping_method.name %></td>
        <td><%= link_to "Delete Order", user_order_path(current_user, @order), method: :delete %></td>
      </tr>
  </tbody>
</table>

<h2>Shipping Address</h2>
<% if @order.user.addresses.find_by(default_devlivery_address: true) %>
  <%= @order.user.addresses.find_by(default_devlivery_address: true).address_to_s %>
  <%= link_to "Change address", user_addresses_path(current_user) %>
<% else %>
  <%= link_to "Add Default Shipping Address", new_user_address_path(current_user) %>
<% end %>

<p>Order Total: $<%= @order.total %></p>
