<h1>Confirm Cart</h1>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Shipping</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= image_tag Product.find(@cart.product_id).product_images[0].product_image.url(:thumb) %><%= Product.find(@cart.product_id).title %><%= @cart.product.title %></td>
        <td><%= @cart.quantity %></td>
        <td>$<%= @cart.product.price %></td>
        <td><%= @cart.shipping_method.name %> <%= @cart.shipping_method.price %></td>
        <td><%= link_to "Remove product", user_cart_path(current_user, @cart), method: :delete %></td>
      </tr>
  </tbody>
</table>

<p>Cart Total: $<%= @cart.total(@cart.quantity) %></p>

<h2>Shipping Address</h2>
<% if @cart.user.addresses.find_by(default_devlivery_address: true) %>
  <%= @cart.user.addresses.find_by(default_devlivery_address: true).address_to_s %>
  <%= link_to "Change address", user_addresses_path(current_user) %>
<% else %>
  <%= link_to "Add Default Shipping Address", new_user_address_path(current_user) %>
<% end %>

<h2>Pay with paypal</h2>
<% if @cart.user.paypals.any? %>
  <%= @cart.user.paypals.find_by(default: true).email %>
  <%= link_to "edit", edit_user_paypal_path(current_user, @cart.user.paypals.find_by(default: true)) %>
<% else %>
  <%= link_to "Add Paypal account", new_user_paypal_path(current_user) %>
<% end %>

<h1><%= link_to "Confirm And Pay", new_user_address_path(current_user) %></h1>

