<h1>Cart</h1>
<% if @cart_items.any? %>
  <table>
    <thead>
      <tr>
        <th>Image</th>
        <th>Title</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Shipping</th>
        <th>Total</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @cart_items.each do |order| %>
        <tr>
          <td><%= image_tag Product.find(order.product_id).product_images[0].product_image.url(:thumb) %></td>
          <td><%= Product.find(order.product_id).title %></td>
          <td><%= order.quantity %></td>
          <td>$<%= Product.find(order.product_id).price %></td>
          <td><%= ShippingMethod.find(order.shipping_method_id).name %><%= ShippingMethod.find(order.shipping_method_id).price %></td>
          <td>$<%= order.total_price(order.quantity) %></td>
          <td><%=link_to "Remove product", user_cart_item_path(current_user, @cart_items), method: :delete %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% total_price = 0 %>
  <% @cart_items.each { |order| total_price += order.total_price(order.quantity) } %>
  <h2>Total Price: $<%= total_price %></h2>

  <% cart_item_user = @cart_items[0].user %>

  <h2>Shipping Address</h2>
  <% if cart_item_user.addresses.find_by(default_devlivery_address: true) %>
    <%= cart_item_user.addresses.find_by(default_devlivery_address: true).address_to_s %>
    <%= link_to "Create new address", new_user_address_path(cart_item_user) %>
  <% else %>
    <%= link_to "Add Default Shipping Address", new_user_address_path(current_user) %>
  <% end %>

  <h2>Pay with paypal</h2>
  <% if cart_item_user.paypals.any? %>
    <%= cart_item_user.paypals.find_by(default: true).email %>
    <%= link_to "edit", edit_user_paypal_path(current_user, cart_item_user.paypals.find_by(default: true)) %>
  <% else %>
    <%= link_to "Add Paypal account", new_user_paypal_path(current_user) %>
  <% end %>

  <h1><%= link_to "Pay Now", user_orders_path(current_user), method: :post %></h1>

<% else %>
  <h2>Your cart is empty</h2>
<% end %>


