<p id="notice"><%= notice %></p>

<div class = "col-md-3">
	<h1>
	  <strong><%= @category.name %></strong>
	</h1>
</div>

<div class = "col-md-9">
	<div id="tag_cloud">
	  <% tag_cloud(@tags, %w[s m l]) do |tag, css_class| %>
	    <%= link_to tag.name, tag_path(tag.name, id: @category.id), class: css_class %>
	  <% end %>
	</div>
</div>

<div class = "col-md-12">
	<div class="line-separator"></div>
</div>

<div class = "col-md-12">
	<div id="items" class="transitions-enabled">
		<% @items.each do |item| %>
			<div class="box panel panel-default">
			  <div class="itemlisttitle"><%= item.title %></div>	
		    <%= link_to image_tag(item.image.url (:medium)), item %>
			  <div class ="panel-body">
		      <div class = "itemlistprice">$<%= item.price %></div>
		      <div class = "itemlistretailer"><%= image_tag item.user.avatar(:thumb) %> Retailer: <%= link_to item.user.username, item.user %></div>
		    </div>
			</div>
		<% end %>
	</div>
</div>


