<div id="items" class="transitions-enabled">
	<% @products.each do |product| %>
		<div class="box panel panel-default">
	    <div class="square_item_image">
	    	<%= link_to image_tag(product.images[0].url (:medium)), product %>
	    </div>
		  <div class ="panel-body">
	      <div class = "itemlistretailer">
				  <div class="itemlisttitle">
				  	<%= product.title %>
				  	<div class = "itemlistprice">
				  		$<%= product.price %>
			  		</div>
				  </div>
				  <div class="item_info">
			      <%= image_tag product.user.avatar(:thumb) %>
			      <%= link_to product.user.username, product.user %>
		      </div>
	      </div>
	    </div>
		</div>
	<% end %>
</div>

