<header class="navbar navbar-default">
  <div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Yorlook</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" >Womens</a>
          <ul class="dropdown-menu" role="menu">
            <% Category.find_by(name:"Women").children.each do |category| %>
              <li><%= link_to category.name, category %></li>
            <% end %>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" >Mens</a>
          <ul class="dropdown-menu" role="menu">
            <% Category.find_by(name:"Men").children.each do |category| %>
              <li><%= link_to category.name, category %></li>
            <% end %>
          </ul>
        </li>
        <li><%= link_to "Outfits", outfits_path %></li>
      </ul>
      <form class="form-inline global-search" role="form">
        <div class="form-group">
          <label class="sr-only" for="">Enter search terms</label>
          <input type="search" class="form-control" id="k" name="k" placeholder="Enter search terms">
          <input id="cn" name="cn" type="hidden" value="false" />
        </div>
        <button type="submit" id="s" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Products<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "New Product", new_product_path %></li>
                <li><%= link_to "Edit Products", user_products_path %></li>
                <li><a href="#">Mass Upload Products</a></li>
                <li><a href="#">Upload Product Images</a></li>
              </ul>
            </li>
          </ul>
          <% if @current_user.admin? %>
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Category", categories_path %></li>
                  <li><%= link_to "Sizes", sizes_path %></li>
                </ul>
              </li>
            </ul>
          <% end %>
          <li><%= link_to "Your Outfits", user_outfits_path(current_user) %><li>
          <li>
          <%= link_to root_path do %>
            <i class="glyphicon glyphicon-envelope"></i>
          <% end %>
          </li>
          <ul class="nav navbar-nav">
            <div class "avatar_nav">
              <% if @current_user.present? %>
                <%= image_tag @current_user.avatar.url :thumb %>
              <% end %>
            </div>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <% if @current_user.present? %>
                <%= current_user.username %>
              <% end %>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "View Profile", user_path(current_user) %></li>
                <li><%= link_to "Edit Profile", edit_user_path(current_user) %></li>
                <li><%= link_to "Log out", logout_path, method: "delete" %></li>
              </ul>
            </li>
          </ul>
        <% else %>
          <li><%= link_to "Log In", login_path %></li>
          <li><%= link_to "Sign Up", new_user_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</header>